.navbar{
	background-color: white;
}
.navbar-light .navbar-brand{
	color: #1d74b6;
}

.container{
	max-width:1024px !important;
}

body { 
	background: #F6F9FC;
}

section{
    padding: 50px 0px;
}

h1{ 
    line-height: 1.2; 
    margin: 0 0 .5em;
    text-align: center;
}

.content-container{
	background-color: white;
	border-radius:3px;
	padding: 30px;
	-webkit-box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.03);
    box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.03);
}

.form-group label{
	text-align: left;
}

#formPayment{
    margin:50px;
    text-align: left;
}

#submitPayment{
	margin-top: 20px;
}

@media screen and (max-width: 768px) {
	.content-container{
		padding: 30px 10px;
	}
	#formPayment{
        margin:20px;
    }
}

label.error{
	color:red !important;
}

.label-pending{
	color: #ffc107;
}
.label-success{
	color: #28a745;
}
.label-cancelled{
	color: #dc3545;
}
.label-unknown{
	color: #6c757d;
}
.text{
	font-size: 15px;
	font-weight: bold;
	margin-top:20px;
}

.alert-payment{
	margin-top:20px;
	display: none;
}
.label-form{
	margin-bottom:0px !important;
}